.imageFix{
    max-width: 4rem;
}

.bgFix{
    background-image: url(https://d19m59y37dris4.cloudfront.net/directory/1-6/img/photo/photo-1497436072909-60f360e1d4b1.jpg);
}

.closeIcon{
    color: #4E66F8;
    cursor: pointer;
}